        <li role="presentation" class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" role="button
        " aria-haspopup="true" aria-expanded="false">
        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Sign In
        </a>
        <ul class="dropdown-menu dropdown-form">
          <li><div>
            <form method="post" action="/signin" class="form-horizontal">
               <div class="form-group">
                <input type="text" class="form-control" name="user[username]" placeholder ="username">
              </div>
               <div class="form-group">
                <input type="password" class="form-control" name="user[password]" placeholder ="password">
              </div>
               <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Sign In">
              </div></div>
            </form>
          </li>
        </ul>
         </li>