<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-user" aria-hidden="true"></span> 
    Signed in as <%= current_user.username %>
  </a>

  <ul class="dropdown-menu" id="signedin">
    <li><a href="#">Your Pics</li></a>
    <li> 
      <form method="get" action="/signout">
        <div class="form-group" style="position: relative;left: 10px;">
          <input class="btn btn-primary" type="submit" value="Sign Out" style="position: relative; top: 5px;">
        </div>
      </form>
    </li>
  </ul>
</li>
