<li role="presentation" class="dropdown" style="float:right">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" style="font-size:16px">
    Sort
    <span class="glyphicon glyphicon-th-list" aria-hidden="true"></span>
  </a>
  
  <ul class="dropdown-menu">
    <li><a href="/photos/funny">Most Funny</a></li>
    <li><a href="/photos/shameful">Most Shameful</a></li>
    <li><a href="/photos/total">Most Votes</a></li>
  </ul>
</li>