<li role="presentation" class="dropdown">
  <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
    <span class="glyphicon glyphicon-picture" aria-hidden="true"></span>
    Sort
  </a>
  
  <ul class="dropdown-menu">
    <li><a href="/photos/funny">Most Funny</a></li>
    <li><a href="/photos/shameful">Most Shameful</a></li>
    <li><a href="/photos/total">Most Votes</a></li>
  </ul>
</li>