<div class ="well"> 
  <img src="<%= @photo.file %>" class = "img-responsive center-block"/>

  <div class ="pull-right photo-votes">
    <%= erb :'/vote/_vote', locals: { photo: @photo } %>
  </div>

  <h3 class ="text-center photo-caption"><%= @photo.caption %></h3>

</div>

