<<<<<<< HEAD
=======
<h1>All Pics</h1>

<h3><a href="/photos/new">♠♠♠ Upload a photo♠♠♠</a></h3>
<% unless @photos.nil? %>
  <% @photos.each do |photo| %>
    <div class="photo">
      <a href="/photos/<%= photo.id %>"><img src="<%= photo.file %>"></a>
      <p><%= photo.caption %></p>
      <% if @current_user %>
        <div>
          <form action="/photos/<%= photo.id %>/votes" method="POST">
            <% if can_vote?(photo, "funny") %>
              <input type="submit" name="choice" value="funny">
            <% end %>
            <% if can_vote?(photo, "shameful") %>
              <input type="submit" name="choice" value="shameful">
            <% end %>
          </form>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
>>>>>>> bae54f51191bf101ccb42b4ed0db3013269cf082
