<h1>Post a Picture</h1>

<% unless @current_user %>
  You need to sign in to Pic Your Life
<% end %>


<% if @current_user %>
<% if @photo.errors.any? %>
  <div>
    <strong>Some issues with your upload, please fix them:</strong>
    <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<% end %>

<div class ="container">
  <h1>CarrierWave Uploader</h1>
  <form action="/photos/:id/upload" method="post" enctype="multipart/form-data">
    <input type="file" name="upload"><br>
    <label>Caption :</label>
    <input type="text" name="caption"><br>
    <button type="submit">Share the SHAME !!!</button>
  </form>
</div>