<div id="container"> 

<div>
  <img src="http://i.imgur.com/bwy74ok.jpg" class = "img-responsive center-block"/>
  <h3 class ="text-center">I tried to plant a lemon tree and these are oranges! How embarrassing!</h3>
</div>

<div class ="white-space-on-top">more photos by user: username

<!-- do this with a loop -->

  <div id="masonry-grid">
    <div class="grid-sizer">

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src ="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg">
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/PgmEBSB.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src ="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg">
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src ="http://i.imgur.com/aboaFoB.jpg">
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

</div>
</div>
</div>
