<div id="container"> 

<div class ="well"> 
  <img src="http://i.imgur.com/bwy74ok.jpg" class = "img-responsive center-block"/>
  <h3 class ="pull-right">15 &#128518;
  <br />4 &#128530;</h3>
  <h3 class ="text-center">I tried to plant a lemon tree and these are oranges! PML.</h3>
</div>


<div class ="white-space-on-top">more photos by user: username

<!-- do this with a loop -->

  <div id="masonry-grid">
    <div class="grid-sizer">
      <a href = "/photo/id">
        <div class="grid-item-xs">
          <img src="http://i.imgur.com/bwy74ok.jpg" />
       </div>
     </a>

<!-- this is just the demo -->

    <div class="grid-item-xs thumb">
      <img src ="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg">
       <div>
        <p>What is this bird? PML</p>
        <p><h3><a href ="#">&#128518;</a>&nbsp;<a href ="#">&#128530;</a></h3></p>
      </div>
    </div>

    <div class="grid-item-xs thumb">
      <img src="http://i.imgur.com/PgmEBSB.jpg" />
       <div>
        <p>I think I left the stove on. PML</p>
        <p><h3><a href ="#">&#128518;</a>&nbsp;<a href ="#">&#128530;</a></h3></p>
      </div>
    </div>

     <a href = "/photo/id">
        <div class="grid-item-xs">
          <img src ="http://c2.staticflickr.com/6/5687/23075017092_0f7fb2328b_b.jpg">
        </div>
      </a>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src ="http://i.imgur.com/aboaFoB.jpg">
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

    <div class="grid-item-xs">
      <img src="http://i.imgur.com/bwy74ok.jpg" />
    </div>

</div>
</div>
</div>
