<footer>
  <div class = "nav nav-pills">

  

  <li role="presentation">
    <a href="/">
      The shameful work of Ashley, Fabien, and Stacey
    </a>
  </li>

  

  <li class ="pull-right">
    <a href="/">
      November 2015
    </a>
  </li>
    
  </div>
</footer>