<footer>
  <div class = "nav nav-pills">
  <%= erb :'navbar/_main' %>

  <li role="presentation">
    <a href="/">
      The shameful work of Ashley, Fabien, and Stacey
    </a>
  </li>

  <li>
    <a href="/">
      November 2015
    </a>
  </li>
    
  </div>
</footer>