<div class="photowall"> 
  <div id="masonry-grid">
    <div class="grid-sizer">


<!-- this part is where the loop goes -->
    <% @photos.reverse.each do |photo| %>

      <div class="thumb grid-item">
        <img src="<%= photo.url %>" />
        <div>
          <p>
            <a href ="/photos/<%= photo.id %>/"><%= photo.caption %>
            </a>
          </p>
          <h3>
            <% if @current_user %>
              <div>
                <form action="/photos/<%= photo.id %>/votes" method="POST">
                  <% if can_vote?(photo, "funny") %>
                    <input type="hidden" name="choice" value="funny">
                    <button class ="ghost-btn">&#128518;</button>
                  <% end %>
                  <% if can_vote?(photo, "shameful") %>
                    <input type ="hidden" name="choice" value ="shameful">
                    <button class ="ghost-btn">&#128530;</button>
                  <% end %>
                </form>
              </div>
            <% end %>
          </h3>
        </div>
      </div>
    <% end %>
<!-- this is just for demo -->

</div>