<div class="photowall"> 
  <div id="masonry-grid">
    <div class="grid-sizer">

<!-- START PHOTO LOOP -->
    <% @photos.each do |photo| %>
      <a href ="/photos/<%= photo.id %>/">
        <div class="thumb grid-item">
          <img src="<%= photo.file %>" />
          <div>
            <h3 class="meme-font text-center">
              <%= photo.caption %>
            </h3>
            <div>
              <%= erb :'vote/_vote', locals: { photo: photo } %>
            </div>
          </div>
        </div>
      </a>
    <% end %>
<!-- END PHOTO loop -->

    </div>
  </div>
</div>