<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>

  
  <script src="/javascript/imagesloaded.pkgd.min.js"></script>
  <script src="/javascript/masonry.pkgd.min.js"></script>
  <script src="/javascript/dropdown.js"></script>

  <title></title>
</head>
<body>

<%= erb :'/_navbar' %>
 
<%= yield %>

</body>
</html>

