<% if @user.errors.any? %>
  <div>
    <h3 class="text-primary">Some issues with your username and/or password:</h3>
    <ul class ="text-primary">
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form action="/signup" method="post" class="form-horizontal">
  <div class="form-group">
    <label class="text-primary">Username:</label>
    <input name="user[username]" value="<%= @user.username %>" class="form-control"/>
  </div>
  <div class="form-group">
    <label class="text-primary">Password:</label>
    <input type="password" name="user[password]" class="form-control"/>
  </div>
  <div class="form-group">
    <label class="text-primary">Repeat Password:</label>
    <input type="password" name="user[password_confirmation]" class="form-control"/>
  </div>
  <div class="form-group">
    <input class="btn btn-primary" type="submit" value="Sign Up">
  </div>
</form>