<h1>Sign In Time</h1>

<% if @current_user %>
  <div>
    <p>Logged in user: <%= @current_user.username %></p>
  </div>
<% else %>
  <% if @error %>
    <p><%= @error %></p>
  <% end %>
  <form method="POST" action="/signin">
    <div>
      <label>Username:</label>
      <input type="text" name="user[username]" value="<%= @signin_name %>" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="user[password]" />
    </div>
    <button>Sign In</button>
  </form>
<% end %>